@media (prefers-color-scheme: dark) {
  body {
    background-color: #22242a;
  }
  [class^="player-info-"] {
    border-color: #C0C0C0 !important;
  }

  .column-headers {
    background-color: #4682B4 !important; 
  }

  .form-control {
    border-color: #4682B4 !important; 
  }

  .win-loss-btn {
    background-color: white !important;
    color: black !important;
  }

  .alert-success {
    background-color: #228B22 !important;
    border-color: #002B00 !important;
    color: #002B00 !important;
  }

  .alert-danger {
    background-color: #E55451 !important;
    border-color: #65000B !important;
    color: #65000B !important;
  }
}

[class^="player-info-"] {
    min-height: 60px;
    padding-block: 16px;
}

.player-option {
    cursor: pointer;
}

.form-control {
  border-color: #1434A4;
  border-width: 2px;
}

.column-headers {
  background-color: #1434A4; 
  color: white;
}

.form-control::placeholder {
  font-weight: bold;
  opacity: 1; /* Ensures consistency across different browsers */
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

.flip {
  animation: flip 500ms ease forwards;
}