[data-bs-theme="dark"] body {
  background-color: #22242a;
}

[data-bs-theme="dark"] [class^="player-info-"] {
  border-color: #C0C0C0 !important;
}

[data-bs-theme="dark"] .colour-changing {
  background-color: #4682B4 !important; 
}

[data-bs-theme="dark"] .form-control {
  border-color: #4682B4 !important; 
}

[data-bs-theme="dark"] .win-loss-btn {
  background-color: white !important;
  color: black !important;
}

[data-bs-theme="dark"] .alert-success {
  background-color: #228B22 !important;
  border-color: #002B00 !important;
  color: #002B00 !important;
}

[data-bs-theme="dark"] .alert-danger {
  background-color: #E55451 !important;
  border-color: #65000B !important;
  color: #65000B !important;
}

.nav-pills .nav-link.active {
  background-color: #1434A4 !important; 
  color: white !important;
}

.nav-pills .nav-link {
  color: #1434A4;
  margin-left: 8px;
}

.nav-pills .nav-link:hover:not(.active) {
  background-color: #1434A4 !important;
  color: white !important;
  opacity: 0.7; 
}

video {
  max-width: 90%;
  height: auto;
  margin-top: 36px; 
  margin-bottom: 36px;
}

[data-bs-theme="dark"] .nav-pills .nav-link.active {
  background-color: #4682B4 !important; 
  color: white !important;
}

[data-bs-theme="dark"] .nav-pills .nav-link {
  color: #4682B4 !important;
}

[data-bs-theme="dark"] .nav-pills .nav-link:hover:not(.active) {
  background-color: #4682B4 !important;
  color: white !important;
  opacity: 0.7;
}

#theme-switch svg {
  fill: currentColor;
}

#theme-switch svg:last-child {
  display: none;
}

[data-bs-theme="dark"] #theme-switch svg:first-child {
  display: none;
}

[data-bs-theme="dark"] #theme-switch svg:last-child {
  display: block;
}

[class^="player-info-"] {
  height: 60px;           
  display: flex !important;
  align-items: center;    
  justify-content: center;
  text-align: center;     
  line-height: 1.15;      
  padding: 4px !important;
  font-size: 0.875rem;    
  word-break: break-word; 
  overflow-wrap: anywhere;
  padding-left: 0.15rem !important;
  padding-right: 0.15rem !important;
}

[class^="player-info-"] * {
  margin: 0;
  padding: 0;
}

.player-option {
  cursor: pointer;
}

.form-control {
  border-color: #1434A4;
  border-width: 2px;
}

.colour-changing {
  background-color: #1434A4; 
  color: white;
}

.form-control::placeholder {
  font-weight: bold;
  opacity: 1;
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

.flip {
  animation: flip 500ms ease forwards;
}