{% from "bootstrap5/form.html" import render_form %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Load dark mode preference to prevent flashing -->
    <script>
        
        // Check if the user has a preference for dark mode by default/from a previous visit
        const userPreference = window.matchMedia("(prefers-color-scheme: dark)").matches;
        const isDarkModeOn = localStorage.getItem("darkmode")

        if (isDarkModeOn === "active" || (userPreference && isDarkModeOn === null)) {
            document.documentElement.setAttribute("data-bs-theme", "dark");
        } else {
            document.documentElement.setAttribute("data-bs-theme", "light");
        }
    </script>
    <style>
        .darkmode body { background: #222; }
        .darkmode .light-only { display: none; }
        html:not(.darkmode) .dark-only { display: none; }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess the Shot</title>

    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Show header -->
    {% include "header.html" %}

    <!-- Show mask video -->
    <div class="d-flex justify-content-center align-items-center">
        <video id="mask-vid" width="889" height="500" src="{{ url_for('static', filename='videos/masks/' + answer_info['id'] | string + '.mp4') }}" autoplay loop muted playsinline></video>
    </div>
    <!-- Show original video -->
    <div class="d-flex justify-content-center align-items-center">
        <video id="org-vid" class="d-none" width="889" height="500" src="{{ url_for('static', filename='videos/original/' + answer_info['id'] | string + '.mp4') }}" autoplay loop muted playsinline></video>
    </div>
    <!-- Correct guess alert -->
    <div id="win-alert-container" class="d-flex justify-content-center mb-0">
        <div id="win-alert" class="alert alert-success d-none col-lg-4 col-md-6 col-10 mb-0" role="alert">
            <h4 class="text-center mb-1">Correct!</h4>
            <h5 class="text-center">The answer was {{ answer_name }}!</h5>
            <a href="{{ url_for('endless_mode') }}" class="win-loss-btn btn btn-dark w-50 mx-auto d-block text-center">
                {%- block play_again_text -%}
                    Play Again
                {%- endblock -%}
            </a>
            <!-- Share daily result -->
            {% if request.path == "/" %}    
                <!-- Toggle sharable result -->
                <button type="button" class="win-loss-btn share-result-btn btn btn-dark mx-auto d-block text-center my-2" data-bs-toggle="modal" data-bs-target="#share-result-win">
                    Share Result
                </button>
                <!-- Sharable result -->
                <div class="modal fade" id="share-result-win" tabindex="-1" aria-labelledby="share-result-label" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="share-result-win-label">Share Result</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary colour-changing" id="copy-win-btn">Copy</button>
                        </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- Loss alert -->
    <div id="loss-alert-container" class="d-flex justify-content-center mb-0">
        <div id="loss-alert" class="alert alert-danger d-none col-lg-4 col-md-6 col-10 mb-0" role="alert">
            <h4 class="text-center mb-1">You lose!</h4>
            <h5 class="text-center">The answer was {{ answer_name }}!</h5>
            <a href="{{ url_for('endless_mode') }}" class="win-loss-btn btn btn-dark w-50 mx-auto d-block text-center">
                {{ self.play_again_text() }}
            </a>
            <!-- Toggle sharable result -->
            <button type="button" class="win-loss-btn share-result-btn btn btn-dark mx-auto d-block text-center my-2" data-bs-toggle="modal" data-bs-target="#share-result-loss">
                Share Result
            </button>
            <!-- Share daily result -->
            {% if request.path == "/" %}    
                <!-- Sharable result -->
                <div class="modal fade" id="share-result-loss" tabindex="-1" aria-labelledby="share-result-label" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="share-result-loss-label">Share Result</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary colour-changing" id="copy-loss-btn">Copy</button>
                        </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- Create player input form -->
    <div class="container">
        <form class="form" autocomplete="off" id="player-form">
            <div class="row row-cols-10 justify-content-center" style="margin-bottom: 24px;">
                <div class="col-lg-4 col-6 px-0">
                    <input class="form-control" type="text" id="player-input" name="player" placeholder="Guess a player" autocomplete="off">
                    
                    <!-- Player dropdown menu -->
                    <ul id="player-dropdown" class="dropdown-menu shadow-sm">
                        {% for player in players %}
                            <li><a class="dropdown-item player-option" data-value="{{ player }}">{{ player }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </form>
    </div>
    <div class="container-fluid text-center my-3">
        <div class="row justify-content-center">
            <!-- Outer wrapper controlling grid width across screen breakpoints -->
            <div class="col-9 col-md-8 col-xxl-6">
                <!-- Headers -->
                <div class="row row-cols-5 flex-nowrap justify-content-center my-3 d-flex align-items-stretch">
                    <h6 class="column-headers colour-changing column-tooltip col mx-2 mb-2 px-2 py-2 rounded mb-0 d-flex align-items-center justify-content-center" data-bs-placement="top" title="The player's current team.">Team</h6>
                    <h6 class="column-headers colour-changing column-tooltip col mx-2 mb-2 px-2 py-2 rounded mb-0 d-flex align-items-center justify-content-center" data-bs-placement="top" title="The player's division, appears yellow when player conferences match.">Div.</h6>
                    <h6 class="column-headers colour-changing column-tooltip col mx-2 mb-2 px-2 py-2 rounded mb-0 d-flex align-items-center justify-content-center" data-bs-placement="top" title="The player's number, appears yellow when within 10 of the correct answer.">#</h6>
                    <h6 class="column-headers colour-changing column-tooltip col mx-2 mb-2 px-2 py-2 rounded mb-0 d-flex align-items-center justify-content-center" data-bs-placement="top" title="The player's country of birth.">Birth Nation</h6>
                    <h6 class="column-headers colour-changing column-tooltip col mx-2 mb-2 px-2 py-2 rounded mb-0 d-flex align-items-center justify-content-center" data-bs-placement="top" title="The player's age, appears yellow when within 3 of the correct answer.">Age</h6>
                </div>
                <!-- Display guess rows -->
                <div id="guess-1">
                    <div class="row row-cols-5 flex-nowrap justify-content-center">
                        <div class="player-info-1 shadow-sm col m-2 border-2 border team"></div>
                        <div class="player-info-1 shadow-sm col m-2 border-2 border division"></div>
                        <div class="player-info-1 shadow-sm col m-2 border-2 border number"></div>
                        <div class="player-info-1 shadow-sm col m-2 border-2 border nation"></div>
                        <div class="player-info-1 shadow-sm col m-2 border-2 border age"></div>
                    </div>
                </div>
                <div id="guess-2">
                    <div class="row row-cols-5 flex-nowrap justify-content-center">
                        <div class="player-info-2 shadow-sm col m-2 border-2 border team"></div>
                        <div class="player-info-2 shadow-sm col m-2 border-2 border division"></div>
                        <div class="player-info-2 shadow-sm col m-2 border-2 border number"></div>
                        <div class="player-info-2 shadow-sm col m-2 border-2 border nation"></div>
                        <div class="player-info-2 shadow-sm col m-2 border-2 border age"></div>
                    </div>
                </div>
                <div id="guess-3">
                    <div class="row row-cols-5 flex-nowrap justify-content-center">
                        <div class="player-info-3 shadow-sm col m-2 border-2 border team"></div>
                        <div class="player-info-3 shadow-sm col m-2 border-2 border division"></div>
                        <div class="player-info-3 shadow-sm col m-2 border-2 border number"></div>
                        <div class="player-info-3 shadow-sm col m-2 border-2 border nation"></div>
                        <div class="player-info-3 shadow-sm col m-2 border-2 border age"></div>
                    </div>
                </div>
                <div id="guess-4">
                    <div class="row row-cols-5 flex-nowrap justify-content-center">
                        <div class="player-info-4 shadow-sm col m-2 border-2 border team"></div>
                        <div class="player-info-4 shadow-sm col m-2 border-2 border division"></div>
                        <div class="player-info-4 shadow-sm col m-2 border-2 border number"></div>
                        <div class="player-info-4 shadow-sm col m-2 border-2 border nation"></div>
                        <div class="player-info-4 shadow-sm col m-2 border-2 border age"></div>
                    </div>
                </div>
                <div id="guess-5">
                    <div class="row row-cols-5 flex-nowrap justify-content-center">
                        <div class="player-info-5 shadow-sm col m-2 border-2 border team"></div>
                        <div class="player-info-5 shadow-sm col m-2 border-2 border division"></div>
                        <div class="player-info-5 shadow-sm col m-2 border-2 border number"></div>
                        <div class="player-info-5 shadow-sm col m-2 border-2 border nation"></div>
                        <div class="player-info-5 shadow-sm col m-2 border-2 border age"></div>
                    </div>
                </div>
                <div id="guess-6">
                    <div class="row row-cols-5 flex-nowrap justify-content-center">
                        <div class="player-info-6 shadow-sm col m-2 mb-5 border-2 border team"></div>
                        <div class="player-info-6 shadow-sm col m-2 mb-5 border-2 border division"></div>
                        <div class="player-info-6 shadow-sm col m-2 mb-5 border-2 border number"></div>
                        <div class="player-info-6 shadow-sm col m-2 mb-5 border-2 border nation"></div>
                        <div class="player-info-6 shadow-sm col m-2 mb-5 border-2 border age"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Load Bootstrap js -->
    {{ bootstrap.load_js() }}

    <script>
        // Declare global variables with Jinja
        window.playerData = {{ player_data | tojson }};
        window.answerInfo = {{ answer_info | tojson }};
        window.answerName = {{ answer_name | tojson }};
    </script>

    <!-- Load js files -->
    <script src="{{ url_for('static', filename='js/theme-logic.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/game-logic.js') }}"></script>
</body>
</html>