{% from "bootstrap5/form.html" import render_form %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess the Shot</title>

    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Show video -->
    <div class="d-flex justify-content-center align-items-center">
        <video width="640" height="480" src="{{ url_for('static', filename='videos/' + answer_info['id'] | string + '.mp4') }}" autoplay loop muted playsinline></video>
    </div>
    <!-- Correct guess alert -->
    <div id="win-alert-container" class="d-flex justify-content-center mb-0">
        <div id="win-alert" class="alert alert-success d-none row col-4" role="alert">
            <h4 class="text-center mb-1">Correct!</h4>
            <h5 class="text-center">The answer was {{ answer_name }}!</h5>
            <a href="{{ url_for('endless_mode') }}" class="win-loss-btn btn btn-dark btn-md w-50 mx-auto">Play Again</a>
        </div>
    </div>
    <!-- Loss alert -->
    <div id="loss-alert-container" class="d-flex justify-content-center mb-0">
        <div id="loss-alert" class="alert alert-danger d-none row col-4" role="alert">
            <h4 class="text-center mb-1">You lose!</h4>
            <h5 class="text-center">The answer was {{ answer_name }}!</h5>
            <a href="{{ url_for('endless_mode') }}" class="win-loss-btn btn btn-dark btn-md w-50 mx-auto">Play Again</a>
        </div>
    </div>
    <!-- Create player input form -->
    <form class="form" autocomplete="off" id="player-form">
        <div class="row row-cols-5 mb-2 justify-content-center">
            <div class="col-4 px-0">
                <input class="form-control" type="text" id="player-input" name="player" placeholder="Guess a player" autocomplete="off">
                
                <!-- Player dropdown menu -->
                <ul id="player-dropdown" class="dropdown-menu shadow-sm">
                    {% for player in players %}
                        <li><a class="dropdown-item player-option" data-value="{{ player }}">{{ player }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </form>
    <!-- Show headers for each column's category -->
    <div class="container-fluid text-center col-sm-12 col-md-12 col-lg-10 col-xl-8 col-xxl-6">
        <div class="row row-cols-5 flex-nowrap justify-content-center my-3">
            <h6 class="column-headers column-tooltip col mx-2 my-2 px-2 py-2 border rounded mb-0" data-bs-placement="top" title="The player's current team.">Team</h6>
            <h6 class="column-headers column-tooltip col mx-2 my-2 px-2 py-2 border rounded mb-0" data-bs-placement="top" title="The player's division, appears yellow when player conferences match.">Division</h6>
            <h6 class="column-headers column-tooltip col mx-2 my-2 px-2 py-2 border rounded mb-0" data-bs-placement="top" title="The player's number, appears yellow when within 10 of the correct answer.">Num.</h6>
            <h6 class="column-headers column-tooltip col mx-2 my-2 px-2 py-2 border rounded mb-0" data-bs-placement="top" title="The player's country of birth.">Birth Nation</h6>
            <h6 class="column-headers column-tooltip col mx-2 my-2 px-2 py-2 border rounded mb-0" data-bs-placement="top" title="The player's age, appears yellow when within 3 of the correct answer.">Age</h6>
        </div>
    </div>
    <!-- Display guess rows -->
    <div id="guess-rows" class="container-fluid text-center col-sm-12 col-md-12 col-lg-10 col-xl-8 col-xxl-6">
        <div id="guess-1">
            <div class="row row-cols-5 flex-nowrap justify-content-center">
                <div class="player-info-1 shadow-sm col m-2 px-2 border-2 border team"></div>
                <div class="player-info-1 shadow-sm col m-2 px-2 border-2 border division"></div>
                <div class="player-info-1 shadow-sm col m-2 px-2 border-2 border number"></div>
                <div class="player-info-1 shadow-sm col m-2 px-2 border-2 border nation"></div>
                <div class="player-info-1 shadow-sm col m-2 px-2 border-2 border age"></div>
            </div>
        </div>
        <div id="guess-2">
            <div class="row row-cols-5 flex-nowrap justify-content-center">
                <div class="player-info-2 shadow-sm col m-2 px-2 border-2 border team"></div>
                <div class="player-info-2 shadow-sm col m-2 px-2 border-2 border division"></div>
                <div class="player-info-2 shadow-sm col m-2 px-2 border-2 border number"></div>
                <div class="player-info-2 shadow-sm col m-2 px-2 border-2 border nation"></div>
                <div class="player-info-2 shadow-sm col m-2 px-2 border-2 border age"></div>
            </div>
        </div>
        <div id="guess-3">
            <div class="row row-cols-5 flex-nowrap justify-content-center">
                <div class="player-info-3 shadow-sm col m-2 px-2 border-2 border team"></div>
                <div class="player-info-3 shadow-sm col m-2 px-2 border-2 border division"></div>
                <div class="player-info-3 shadow-sm col m-2 px-2 border-2 border number"></div>
                <div class="player-info-3 shadow-sm col m-2 px-2 border-2 border nation"></div>
                <div class="player-info-3 shadow-sm col m-2 px-2 border-2 border age"></div>
            </div>
        </div>
        <div id="guess-4">
            <div class="row row-cols-5 flex-nowrap justify-content-center">
                <div class="player-info-4 shadow-sm col m-2 px-2 border-2 border team"></div>
                <div class="player-info-4 shadow-sm col m-2 px-2 border-2 border division"></div>
                <div class="player-info-4 shadow-sm col m-2 px-2 border-2 border number"></div>
                <div class="player-info-4 shadow-sm col m-2 px-2 border-2 border nation"></div>
                <div class="player-info-4 shadow-sm col m-2 px-2 border-2 border age"></div>
            </div>
        </div>
        <div id="guess-5">
            <div class="row row-cols-5 flex-nowrap justify-content-center">
                <div class="player-info-5 shadow-sm col m-2 px-2 border-2 border team"></div>
                <div class="player-info-5 shadow-sm col m-2 px-2 border-2 border division"></div>
                <div class="player-info-5 shadow-sm col m-2 px-2 border-2 border number"></div>
                <div class="player-info-5 shadow-sm col m-2 px-2 border-2 border nation"></div>
                <div class="player-info-5 shadow-sm col m-2 px-2 border-2 border age"></div>
            </div>
        </div>
        <div id="guess-6">
            <div class="row row-cols-5 flex-nowrap justify-content-center">
                <div class="player-info-6 shadow-sm col m-2 mb-5 px-2 border-2 border team"></div>
                <div class="player-info-6 shadow-sm col m-2 mb-5 px-2 border-2 border division"></div>
                <div class="player-info-6 shadow-sm col m-2 mb-5 px-2 border-2 border number"></div>
                <div class="player-info-6 shadow-sm col m-2 mb-5 px-2 border-2 border nation"></div>
                <div class="player-info-6 shadow-sm col m-2 mb-5 px-2 border-2 border age"></div>
            </div>
        </div>
    </div>

    <!-- Lood Bootstrap js -->
    {{ bootstrap.load_js() }}
    <script>
        // Retrieve elements and variables
        const input = document.getElementById("player-input");
        const dropdown = document.getElementById("player-dropdown");
        const form = document.getElementById("player-form");
        const items = dropdown.querySelectorAll(".player-option");
        const playerData = {{ player_data | tojson }};
        const answerInfo = {{ answer_info | tojson }};
        const answerName = {{ answer_name | tojson }};
        const tooltips = document.querySelectorAll(".column-tooltip")

        let guessCount = 0; // Guess number tracker

        // Create Bootstrap tooltips
        tooltips.forEach(tt => {
            new bootstrap.Tooltip(tt)
        })

        // Show and filter dropdown as the user types
        input.addEventListener("input", function() {

            const user_input = input.value.toLowerCase();
            const max_displayed = 5;
            let num_displayed = 0;
            let hasVisibleItems = false;

            // Loop through each item and show players based on the filter
            items.forEach(item => {
                const text = item.textContent.toLowerCase();
                if (text.includes(user_input) && user_input.length > 0 && num_displayed < max_displayed) {
                    item.parentElement.style.display = "block";
                    hasVisibleItems = true;
                    num_displayed++;
                } else {
                    item.parentElement.style.display = "none";
                }
            });

            // Show or hide the dropdown container based on matches
            dropdown.style.display = (hasVisibleItems && user_input.length > 0) ? "block" : "none";
        });

        // Handle click on a list item
        items.forEach(item => {
            item.addEventListener("click", function(e) {
                e.preventDefault();

                const playerName = this.getAttribute("data-value"); // Get clicked player's name
                input.value = playerName; // Set form input to clicked player's name
                dropdown.style.display = "none"; // Hide dropdown
                
                guessCount++; // Increment guess count
                addGuessInfo(playerName); // Add player info in guess row
                
                input.value = ""; // Clear form
                
                flipBoxes(playerName); // Flip boxes
            });
        });

        // Hide dropdown on outside click
        document.addEventListener("click", function(e) {
            if (!input.contains(e.target) && !dropdown.contains(e.target)) {
                dropdown.style.display = "none";
            }
        });

        // Prevent submission by entering
        form.addEventListener("keydown", function(e) {
            if (e.key === "Enter") {
                e.preventDefault();
            }
        });

        // Make boxes flip
        function flipBoxes(playerName) {
            var boxes = document.getElementsByClassName(`player-info-${guessCount}`);
            var boxArray = Array.from(boxes);
            boxArray.map(function (box, i) {
                box.classList.add("flip");
                box.style.animationDelay = `${i * 250}ms`;

                // Colour boxes after the flip animation
                setTimeout(() => {
                    colourBox(box, i, playerName);
                }, (i * 250) + 250); // Wait for the flip to finish before colouring

                // Check if win/loss needs to be shown after flips are done
                setTimeout(() => {
                    displayAnswer(playerName)
                }, (5 * 250) + 250); // Wait for all flips to finish
            });

        }
        
        // Display answer on correct guess/loss
        function displayAnswer(playerName) {
            if (playerName === answerName) { // Win
                const successAlert = document.getElementById("win-alert");
                const successAlertContainer = document.getElementById("win-alert-container");
                successAlertContainer.classList.add("mb-3");
                successAlert.classList.remove("d-none");
                form.classList.add("d-none");
            } else if (guessCount == 6) { // Loss
                const lossAlert = document.getElementById("loss-alert");
                const lossAlertContainer = document.getElementById("loss-alert-container");
                lossAlertContainer.classList.add("mb-3");
                lossAlert.classList.remove("d-none");
                form.classList.add("d-none");
            }
        }

        // Colour boxes based on the guessed player's info
        function colourBox(box, index, playerName) {
            const player_info = playerData[playerName];

            switch (index) {
                case 0: // Team
                    if (player_info.team === answerInfo.team) { // Correct team
                        box.style.backgroundColor = "#538D4E"; 
                        box.style.color = "white";
                    } else { // Incorrect team
                        box.style.backgroundColor = "#3A3A3C";
                        box.style.color = "white";
                    }
                    break;
                case 1:
                    if (player_info.division === answerInfo.division) { // Correct division
                        box.style.backgroundColor = "#538D4E"; 
                        box.style.color = "white";
                    } else if (player_info.conference === answerInfo.conference) { // Correct conference
                        box.style.backgroundColor = "#B59F3B"; 
                        box.style.color = "white";
                    } else { // Incorrect division and conference
                        box.style.backgroundColor = "#3A3A3C";
                        box.style.color = "white";
                    }
                    break;
                case 2:
                    if (player_info.number === answerInfo.number) { // Correct number
                        box.style.backgroundColor = "#538D4E"; 
                        box.style.color = "white";
                    } else if (Math.abs(player_info.number - answerInfo.number) <= 10) { // Within 10 of correct number
                        box.style.backgroundColor = "#B59F3B"; 
                        box.style.color = "white";
                    } else { // Incorrect number and not within 10
                        box.style.backgroundColor = "#3A3A3C";
                        box.style.color = "white";
                    }
                    break;
                case 3:
                    if (player_info.nation === answerInfo.nation) { // Correct nation
                        box.style.backgroundColor = "#538D4E"; 
                        box.style.color = "white";
                    } else { // Incorrect nation
                        box.style.backgroundColor = "#3A3A3C";
                        box.style.color = "white";
                    }
                    break;
                case 4:
                    if (player_info.age === answerInfo.age) { // Correct age
                        box.style.backgroundColor = "#538D4E"; 
                        box.style.color = "white";
                    } else if (Math.abs(player_info.age - answerInfo.age) <= 3) { // Within 3 of correct age
                        box.style.backgroundColor = "#B59F3B"; 
                        box.style.color = "white";
                    } else { // Incorrect age and not within 3
                        box.style.backgroundColor = "#3A3A3C";
                        box.style.color = "white";
                    }
                    break;
            }
        }

        // Add guess info to the next row of boxes
        function addGuessInfo(playerName) {
            
            // Get guess row and its boxes
            const guessRow = document.getElementById(`guess-${guessCount}`);
            const team = guessRow.querySelector(".team");
            const division = guessRow.querySelector(".division");
            const number = guessRow.querySelector(".number");
            const nation = guessRow.querySelector(".nation");
            const age = guessRow.querySelector(".age");

            // Retrieve the guessed player's info
            const player_info = playerData[playerName];
            if (player_info) {
                team.innerText = player_info.team;
                division.innerText = player_info.division;
                number.innerText = player_info.number;
                nation.innerText = player_info.nation;
                age.innerText = player_info.age;
            }

            // Limit guesses to 6
            if (guessCount >= 6)
                return;
        }
    </script>
</body>
</html>