{% from "bootstrap5/form.html" import render_form %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Load dark mode preference to prevent flashing -->
    <script>
        
        // Check if the user has a preference for dark mode by default/from a previous visit
        const userPreference = window.matchMedia("(prefers-color-scheme: dark)").matches;
        const isDarkModeOn = localStorage.getItem("darkmode")

        if (isDarkModeOn === "active" || (userPreference && isDarkModeOn === null)) {
            document.documentElement.setAttribute("data-bs-theme", "dark");
        } else {
            document.documentElement.setAttribute("data-bs-theme", "light");
        }
    </script>
    <style>
        .darkmode body { background: #222; }
        .darkmode .light-only { display: none; }
        html:not(.darkmode) .dark-only { display: none; }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess the Shot</title>

    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include "header.html" %}

    <!-- Registration Form -->
    <div class="container">
        <div class="row justify-content-center align-items-center center-account-form">
            <form method="POST" action="{{ url_for('register') }}" class="col-lg-4 col-md-6 col-10 px-0 mx-auto account-form px-4 rounded">
                {{ form.csrf_token }}
                <h3 class="text-center account-label mt-4">Create Account</h3>
                <h6 class="text-center account-label mt-2 mb-4">Save your streaks!</h6>
                <div class="mb-4">
                    {{ form.username.label(class="account-label")}} <br>
                    {{ form.username(class="form-control") }}
                </div>
                <div class="mb-4">
                    {{ form.password.label(class="account-label") }} <br>
                    {{ form.password(class="form-control") }}
                </div>
                <div class="mb-4">
                    {{ form.verify_password.label(class="account-label") }} <br>
                    {{ form.verify_password(class="form-control") }}
                </div>
                <div class="mb-4 text-center">
                    {{ form.submit(class="btn btn-dark", style="background-color: white; color: black; width: 100%; box-sizing: border-box;") }}
                </div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <h4 class="flash mb-4">❗ {{ message }}</h4>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <h5 class="text-center mb-4 text-white">
                    Have an account? <a href="{{ url_for('login') }}" class="link-light">Login!</a>
                </h5>
            </form>
        </div>
    </div>

    <!-- Load js file -->
    <script src="{{ url_for('static', filename='js/theme-logic.js') }}"></script>
</body>